@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body
{
	font-family:'Roboto';
	font-size:20px;
	padding:1% 5%;
	background-image:linear-gradient(rgba(108, 146, 175, 1), rgba(110, 127, 128, 0.6)), url('img/pcb.jpg');
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	backdrop-filter:blur(2px);
}

p
{
	text-align:justify; 
	text-indent:48px;
}
p::first-letter
{
	font-size:32px;
	font-family:'Segoe Script';
}
figure
{
	text-align:center;
	font-style:italic;
	font-weight:100;
}
ul
{
	list-style:none;
}
a
{
	text-decoration:none;
}
	 a:active
	 {
		 color:green;
	 }
	 a:visited
	 {
		 color:darkgreen;
	 }
     a:hover
     {
		 font-weight:800;
		 background-color:black;
		 color:white;
     }
:target /*> span*/
{
   background-color:limegreen;

}
    :target + div
	{
		border-radius: 25px;
		background-color:rgba(220, 220, 220, 5);
		box-shadow: 0 0 25px 25px rgba(220, 220, 220, 0.7);
    }
div
{
	padding: 16px;  /* внутренний отступ*/
}
.cite {
	/*border: solid 1px;*/
	border-left: solid 5px blue;   /*граница и тип линии*/
	margin: 50px 100px 200px 300px; /*внешний отступ*/
	/*margin: all-sides;             /одним значением/
	margin: top-bottom left-right;   /двумя значениями/
	margin: top left-right bottom;   /тремя значениями/
	margin: top right bottom left;   /четырьмя значениями*/
	padding: 30px; /*внутренний отступ*/
	/*padding: all-sides;             /одним значением/
	padding: top-bottom left-right;   /двумя значениями/
	padding: top left-right bottom;   /тремя значениями/
	padding: top right bottom left;   /четырьмя значениями*/
}