@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body
{
	font-family:'Roboto';
	font-size:20px;
	padding:1% 5%;
}
p
{
	text-align:justify; 
	text-indent:48px;
}
p::first-letter
{
	font-size:32px;
	font-family:'Segoe Script';
}
figure
{
	text-align:center;
	font-style:italic;
	font-weight:100;
}
ul
{
	list-style:none;
}
a
{
	text-decoration:none;
}
	 a:active
	 {
		 color:green;
	 }
	 a:visited
	 {
		 color:darkgreen;
	 }
     a:hover
     {
		 font-weight:800;
		 background-color:black;
		 color:white;

     }